/*contact form*/
span.wpcf7-form-control-wrap.enter-name input[type="text"], 
span.wpcf7-form-control-wrap.enter-phone input[type="text"], 
span.wpcf7-form-control-wrap.enter-email input[type="text"], 
span.wpcf7-form-control-wrap.enter-address input[type="text"], 
span.wpcf7-form-control-wrap.enter-property input[type="text"] {
	/*background-color: #505050;*/
	border: 1px solid #d5d5d5;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 100;
	font-size: 12.5px;
	letter-spacing: 1px;/*color: rgba(229, 229, 229, 0.61) !important;*/
}
span.wpcf7-form-control-wrap.msg textarea {
	/*background-color: #505050;*/
	border: 1px solid #d5d5d5;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 100;
	font-size: 12.5px;
	letter-spacing: 1px;
	height: 100px;
	color: rgb(172, 172, 172) !important;
}
input.wpcf7-form-control.wpcf7-submit {
	background: #f96125;
	border: 1px solid #f96125;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 5px 20px;
	letter-spacing: 1px;
	font-weight: 100;
}
.screen-reader-response {
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 11px;
}
.wpcf7-response-output.wpcf7-validation-errors {
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 11px;
}
.wpcf7-not-valid-tip {
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 11px;
}
